<style>

  /* Gruvbox Light mode colors */
  body {
    --primary-color: #689d6a;
    --primary-pale-color: #689d6a66;
    --primary-decoration-color: #689d6a12;
    --bg-color: #fbf1c7;
    --text-color: #3c3836;
    --text-pale-color: #7c6f64;
    --text-decoration-color: #bdae93;
    --highlight-mark-color: #689d6a20;

    --callout-note-color: #458588;
    --callout-tip-color: #98971a;
    --callout-important-color: #b16286;
    --callout-warning-color: #d65d0e;
    --callout-caution-color: #cc241d;
  }

  /* Gruvbox Dark mode colors (Hard variant) */
  body.dark {
    --primary-color: #8ec07c;
    --primary-pale-color: #8ec07c66;
    --primary-decoration-color: #8ec07c12;
    --bg-color: #1d2021;
    --text-color: #ebdbb2;
    --text-pale-color: #a89984;
    --text-decoration-color: #665c54;
    --highlight-mark-color: #8ec07c20;

    --callout-note-color: #83a598;
    --callout-tip-color: #b8bb26;
    --callout-important-color: #d3869b;
    --callout-warning-color: #fe8019;
    --callout-caution-color: #fb4934;
  }

  /* typography */
  body {
    --main-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --homepage-max-width: 768px;
    --main-max-width: 768px;
    --avatar-size: 60px;
    --font-size: 16px;
    --line-height: 1.75;
    --img-border-radius: 0px;
    --detail-border-radius: 0px;
    --dark-mode-img-brightness: 0.75;
    --dark-mode-chart-brightness: 0.75;
    --inline-code-border-radius: 2px;
    --inline-code-bg-color: var(--primary-decoration-color);
    --block-code-border-radius: 0px;
    --block-code-border-color: var(--primary-color);
    --detail-border-color: var(--primary-color);
  }

</style>
